.ant-table-thead > tr > th {
  background-color: rgba($color: $grey, $alpha: 0.5);
}

.ant-table-tbody tr:nth-child(even) {
  background-color: rgba($color: #afafaf, $alpha: 0.1);
}
.ant-table-tbody tr:nth-child(odd) {
  background-color: rgba($color: #cfcfcf, $alpha: 0.1);
}
