// .table__container {
//     background-color: #202940;
//     border-radius: 5px;
// }
// .ant-table {
//     color: rgba(169,175,187,.82) !important;
//     // border-color: rgba(181,181,181,.1)!important;
//     border-color: gray;
// }

.ant-table-thead > tr > th {
  
background-color: $primary;
}
// .ant-table-tbody > tr > td {
//     border-color: rgba(181,181,181,.1)!important;
// }
.ant-table-tbody tr:nth-child(even){
   background-color: rgba($color: #afafaf , $alpha: 0.1);
}
.ant-table-tbody tr:nth-child(odd){
   background-color: rgba($color: #cfcfcf , $alpha: 0.1);
}

//   &:hover {
//      background-color: rgba($color: $white , $alpha: 0.55);
//      color: gray; 
//   }
// }
// .ant-table-tbody > tr.ant-table-row-selected td {
//     background-color: transparent;
// }
// }
// .ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-sorters:hover {
//     background: rgba(242,242,242, 0.1);
// }
// .ant-table-thead > tr > th.ant-table-column-sort {
//     background: rgba(242,242,242, 0.1);
// }
// .ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-sorters:hover .anticon-filter, .ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-sorters:hover .ant-table-filter-icon {
//     background: transparent !important; 
// }
// .ant-empty-description {
//     margin: 0;
//     color: white;
// }
// .ant-table-placeholder {
//     position: relative;
//     z-index: 1;
//     margin-top: -1px;
//     padding: 16px 16px;
//     font-size: 14px;
//     text-align: center;
//     background: transparent;
//     border: none;
// }
