.text__field {
  background: transparent;
  border: none;
  border: 1px solid #434a52;
  color: $black;
  width: 100%;
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 10px;
  border-radius: 5px;
}

.text__container {
  margin-top: 30px;
}

.error {
  position: absolute;
  color: $secondary;
}
