$primary: #1572e8;
$secondary: #f25961;
$border: #434a52;

$grey: #b9b9b9;
$grey2: #d8dee5;
$grey3: #ebeef2;
$blue: #0167c1;
$black: #000;
$dark: #1a2035;
$white: #fff;
$red: #ff0000;
$red5: #de1c24;
$green: #1cde93;
$yellow: #f8a700;

$small: 14px;
$normal: 20px;
