.md__modal {
  display: flex !important;
  align-items: center;
  justify-content: center;

  .md__modal__dialog {
    box-shadow: 0 16px 40px 0 rgba($black, 0.5);

    .modal-content {
      max-height: 90vh;
      padding: 36px 0 22px 0;
      position: relative;

      .md__modal__content-wrapper {
        height: 100%;
        overflow: auto;
        padding: 0 40px;

        & > .flaticon-cross {
          position: absolute;
          right: 40px;
          font-size: 16px;
          cursor: pointer;

          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }

  @media (min-width: 576px) {
    .modal-dialog {
      width: 460px;
    }
  }
}
